* {
  box-sizing: border-box;
}

body {
  background: #333;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: wheat;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

a {
  text-decoration: none;
  /* color: #ffffee; */
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

i {
  color: rgba(1, 1, 1, 0.3);
  /* transform: translateX(35px); */
  padding-right: 5px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #666;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #ffffaa;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc72;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #566670;
  border: 2px solid #566670;
  border-radius: 4px;
  color: #ffffee;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.form .log {
  cursor: pointer;
  background-color: #566670;
  border: 2px solid #566670;
  border-radius: 4px;
  color: #ffffee;
  display: inline-block;
  /* font-size: 16px; */
  padding: 5px;
  /* margin-top: 20px; */
  width: 150px;
  margin: 20px 83px;
  text-align: center;
}

.login {
  margin-bottom: 20px;
}
