@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: wheat;
  color: darkslategray;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  color: darkslategray;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  color: wheat;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.navbar a {
  color: wheat;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #f34242 2px solid;
  color: white;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

/* Header */

.hero {
  background: url("../img/projectHack.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: wheat;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-weight: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero * {
  z-index: 10;
}

.hero.blog {
  background: url("../image_resources/home/blog.jpg") no-repeat center
    center/cover;
  height: 30vh;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 200px;
  background-color: #111;
}

.footer a {
  color: wheat;
}

.footer a:hover {
  color: #f34242;
}

.footer .social > * {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
    margin: 2px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .team img {
    width: 70%;
  }
}
