/* Text colors */

.text-primary {
  color: #f34242;
}

.text-secondary {
  color: blue;
}

/* Button */

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: #111;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.7;
  color: white;
}

.btn-primary,
.bg-primary {
  background: limegreen;
  color: wheat;
}
.btn-secondary,
.bg-secondary {
  background: blue;
  color: wheat;
}
.btn-dark,
.bg-dark {
  background: darkslategray;
  color: wheat;
}
.btn-light,
.bg-light {
  background: wheat;
  color: darkslategrey;
}

.btn-outline {
  background: transparent;
  border: 1px solid wheat;
}

/* Flex items */
.contact .column-2 {
  background: whitesmoke;
}

.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex colmuns */

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
  color: black;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

/* Section header */

.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
}

.section-padding {
  padding: 20px 20px 40px;
}

/* Flex grid */

.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 4px;
}
